/*=== COLORS ===*/

$c-primary: #691ae7;
$c-secondary: #ffffff;
$c-third: #000000;
$c-fourth: #e6e8e9;
$c-primary-dark: #5016af;

$font-family: "Poppins", sans-serif;

$header: 3rem;
$z-header: 100;

/*=== MARGINS ===*/
$mb-1: 0.5rem;
$mb-2: 1rem;
$mb-3: 1.5rem;
$mb-4: 2rem;
$mb-5: 2.5rem;

/*=== DEVICE ==*/
$mq-s: 320px; //small mobile
$mq-m: 480px; //medium mobile
$mq-l: 768px; //large mobile
$mq-ls: 1024px; //desktop
